@font-face {
  font-family: "Styrene A Web";
  src: url("../assetcc/fonts/StyreneAWeb-Bold.ttf") format("truetype");
  src: url("../assetcc/fonts/StyreneAWeb-Regular.ttf") format("truetype");
  src: url("../assetcc/fonts/StyreneAWeb-Medium.ttf") format("truetype");
  src: url("../assetcc/fonts/StyreneAWeb-Light.ttf") format("truetype");
}

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

:root {
  --main-color--red: #FF3535;
  --main-color--black: #000000;
  --modalNoActive-bgColor--grey:  #F7F7F7;
  --modalActive-bgColor--red:  #FF3535;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Styrene A Web", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 46.8px;
}

h4 {
  font-weight: 400;
  font-size: 32px;
  line-height: 38.4px;
}

p {
  font-weight: 300;
  font-size: 16px;
  line-height: 19.2px;
  font-style: normal;
  color: #000000;
}

li {
  list-style: none;
}