.paragraph {
  li {
    position: relative;
    text-align: start;

    &::before {
      content: "";
      position: absolute;
      left: -20px;
      top: 7px;
      height: 5px;
      width: 5px;
      border-radius: 60px;
      background-color: orangered;
    }

  }
}
