.paragraph {

  p {
    position: relative;
    text-align: start;
    left: 20px;

    &::before {
      content: "";
      position: absolute;
      left: -20px;
      top: 7px;
      height: 5px;
      width: 5px;
      border-radius: 60px;
      background-color: orangered;
    }

  }

  @media (max-width: 1286px) {
    width: 305px;
    padding: 0 5px;
  }
}
