@import "index";

.subModuleWrapper {
  @include flexCenter(column);
  width: 628px;
  height: 293px;
  background-color: var(--main-color--red);

  .subModuleContent {
    @include flexCenter(column);
    align-items: center;
    height: 145px;
    width: 496px;
    color: white;


    h3 {
      line-height: 1.2px;
    }

    p {
      color: white;
    }
  }


  @media (max-width: 1286px) {
    width: 345px;
    margin: 10px 0;

    .subModuleContent {
      height: 231px;
      width: 345px;

      h3 {
        font-size: 25px;
        line-height: 120%;
      }
    }
  }
}